@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Permanent+Marker&display=swap');

:root{
    --cor-prin: #222222;
    --cor-let: #918f8f;
    --font-prin:'Fascinate Inline', cursive;
}

*{
    padding: 0;
    margin: 0;

}

body{
    background-color: var(--cor-prin);
    color: #918f8f;
}

.navbar h1{
    text-align: center;
    font-family: var(--font-prin);
    font-size: 70px;
}

.navbar{
    margin-bottom: 15vh;
    background-color: #292929;

}
.navbar a{
    text-decoration: none;
    color: #918f8f;
    margin: 15px;
    text-transform: uppercase;
    font-size: 18px;
}

.todo{
    text-align: center;
    align-items: center;
}
.tela{
    color: #fff;
    border-radius: 5px;
}

.res{
    width: 30vw;
    height: 5vh;
    background-color: #000;
    margin: 0 34.5vw;
    font-size: 30px;
    border-radius: 5px;
}

.botao{
    margin-top: 5vh;
    width: 6vw;
    height: 10vh;
    border-radius: 50%;
    background-color: #aaa8a8;
    cursor: pointer;
    font-size: 50px;
    border: none;
}

.botao:hover{
    background-color: #000;
    color: #fff;
}
.clear{
    border: none;
    background-color: #354150;
    color: #fff;
    margin-top: 10vh;
    width: 30vw;
    height: 7.5vh;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}
.clear:hover{
    background-color: aqua;
}